<!DOCTYPE html>
<html lang="zh-cn">
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>光伏电站</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/simple-line-icons-master/css/simple-line-icons.css" >
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/common/sidebar.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/common/menu.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/station/power_station_monitor.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/station/electricity_bill.css">
    <link type="image/x-icon" rel="shortcut icon" href="__PUBLIC__/images/favicon.ico">
  </head>
  <body>
  	
     <!-- 顶部导航条 -->
    <div id="topbar">
        <include file="Common/topbar" />
    </div>

  
 <!-- 顶部影藏信息-->
     <include file="Common/tophidden" />

    <!-- 左侧菜单栏 -->
     <div id="left">
      <include file="Common/left" />
    </div>

    <!-- 主要内容 -->
    <div id="right" >
    <div class="right_m">
    	<div>
            <div class="right-top">
                <span id="s_name" class="text-top" style="padding-left: 10px;"></span>
                <span style="cursor:pointer;color: #428bca;">[切换]</span>
            </div>   
            <div style="padding:10px">
                <div class="panel" style="border-color:#dee5e7;border-radius: 2px;margin-bottom: 15px;">
                    <div class="col-sm-12 panel" style="padding-left:0px;padding-right:0px">
                        <div class="row" style="padding:15px">
                            <div class="col-sm-4" style="width:155px;margin-bottom:5px;margin-right:10px">
                                <button class="btn btn-sm btn-in">新增</button>
                                <button class="btn btn-sm btn-on">批量删除</button>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-9">
                                    <div class="input-group" style="padding-right:10px">
                                        <input type="text" id="keyWords" class="input-sm form-control" style="width:159px;" placeholder="关键字">
                                        <span class="input-group-btn">
                                           <button class="btn btn-sm btn-in" id="searchBtn" type="button">查询</button>         
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5 pull-right">
                                <div class="col-sm-12 no-padder" style="min-width: 375px;">
                                    <ul class="pull-right pagination pagination-sm no-padder m-n bg-white2" style="background-color: transparent!important;padding:0px;margin:0px">
                                        <li >
                                            <a style="height:28px;border-radius:4px;margin-right:3px"><i class="fa fa-angle-left"></i></a>
                                        </li>
                                        <!-- <li ng-repeat="page in pages" ng-class="{active: isActive(page)}">
                                            <a ng-click="selectPage(page)"><span ng-bind="page"></span></a>
                                        </li> -->
                                        <li>
                                            <input class="form-control pull-left text-center ng-pristine ng-untouched ng-valid" ng-model="goPageNum" style="width: 40px;height: 28px;padding: 0 5px;display: inline-block;" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                                            <a class="btn" ng-click="goPage()" style="width: 35px;padding: 5px 3px;margin-left:5px;height:28px;background-color: #1caf9a;color:#fff">跳转</a>
                                        </li>
                                        <li>
                                            <a style="height:28px;border-radius:4px;margin-left:5px;"><i class="fa fa-angle-right"></i></a>
                                        </li>
                                    </ul>
                                    <span class="note_task">
                                        <span class=" pull-right">
                                            <small style="float: left;margin-top:8px;margin-right:5px;" class="text-muted m-l-xs m-r-xs font-h6">每页显示 :</small>
                                            <select id="pageSizeSelect" style="float: left;width:45px;height:30px;padding:0px;margin-right:8px;" class="form-control ng-pristine ng-untouched ng-valid" >
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                            <small class="text-muted inline m-b-sm m-l-sm m-r-sm font-h6" style="margin-top:8px;margin-right:8px">
                                            页数<span ng-bind="currentPage" class="ng-binding">0</span> / <span ng-bind="totalPage" class="ng-binding">0</span>
                                                    <!-- <span ng-bind="total"></span>条记录) -->
                                            </small>
                                        </span>
                                    </span>
                                </div>
                            </div>    
                        </div>

                        <table id="result_table" class="table table-striped b-t b-light">
                            <thead>
                                <tr>
                                    <th style="width: 20px;">
                                        <label class="i-checks m-b-none">
                                            <input type="checkbox" id="all" style="display:none"><i></i>
                                        </label>
                                    </th>
                                    <th>电站名称</th>
                                    <th style="text-align: center;">支出单号</th>
                                    <th style="text-align: center;">支出项目</th>
                                    <th style="text-align: right;">支出时间</th>
                                    <th style="text-align: right;">结算金额（元）</th>
                                    <th>支出人</th>
                                    <th>操作</th> 
                                </tr>
                            </thead>
                            <tbody>
                <!-- ngRepeat: vo in data -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    <script type="text/javascript" src="__PUBLIC__/Static/Jquery/jquery.min.js"></script>
   <script type="text/javascript" src="__PUBLIC__/script/station/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Static/bootstrap-3.3.0-dist/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/script/station/sidebar.js"></script>
    <sscript src="__PUBLIC__/script/station/header_public.js"></script>
  </body>
</html>