<!DOCTYPE html>
<html lang="zh-cn">
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADA光伏电站</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/simple-line-icons-master/css/simple-line-icons.css" >
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/common/sidebar.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/common/menu.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/station/power_station_monitor.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/station/electricity_bill.css">
    <link type="image/x-icon" rel="shortcut icon" href="__PUBLIC__/images/favicon.ico">
  </head>
  <body>
  	
     <!-- 顶部导航条 -->
    <div id="topbar">
        <include file="Common/topbar" />
    </div>

  
    <!-- 顶部影藏信息-->
    <include file="Common/tophidden" />

    <!-- 左侧菜单栏 -->
     <div id="left">
      <include file="Common/left" />
    </div>

    <!-- 主要内容 -->
    <div id="right" >
    <div class="right_m">
    	<div>
            <div class="right-top">
                <span style="background:#16da16;border-radius: 50%;width: 10px;height: 10px;display: inline-block;margin-left:10px;"></span>
                <span id="s_name" class="text-top" style="font-size:20px;color: #000000">sdf </span>
                <span style="cursor:pointer;color: #428bca;">[切换]</span>
            </div>   
            <div style="padding:10px">
                <div class="panel" style="border-color:#dee5e7;border-radius: 2px;margin-bottom: 15px;">
                    <div class="col-sm-12 panel" style="padding-left:0px;padding-right:0px">
                        <div class="row" style="padding:15px">
                            <div class="col-sm-4" style="width:155px;margin-bottom:5px;margin-right:10px">
                                <div class="input-group">
                                    <select ng-model="year" id="year" class="form-control input-sm ng-pristine ng-valid ng-touched" ng-change="search()">
                                    <option ng-repeat="vo in yearList" value="2016" ng-selected="year == vo" class="ng-binding ng-scope">2016年</option><option ng-repeat="vo in yearList" value="2017" ng-selected="year == vo" class="ng-binding ng-scope" selected="selected">2017年</option><option ng-repeat="vo in yearList" value="2018" ng-selected="year == vo" class="ng-binding ng-scope">2018年</option><option ng-repeat="vo in yearList" value="2019" ng-selected="year == vo" class="ng-binding ng-scope">2019年</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-9">
                                    <div class="input-group" style="padding-right:10px">
                                         <button class="btn btn-sm " style="width:100px;background-color:#1caf9a;">填写生产计划</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5 pull-right" style="text-align:right">
                                单位：kWh
                            </div>    
                        </div>

                        <table id="result_table" class="table table-striped b-t b-light">
                            <thead>
                                <tr>
                                    <th style="width: 20px;">
                                        <label class="i-checks m-b-none">
                                            <input type="checkbox" id="all" style="display:none"><i></i>
                                        </label>
                                    </th>
                                    <th>电站名称</th>
                                    <th style="text-align: center;">支出单号</th>
                                    <th style="text-align: center;">支出项目</th>
                                    <th style="text-align: right;">支出时间</th>
                                    <th style="text-align: right;">结算金额（元）</th>
                                    <th>支出人</th>
                                    <th>操作</th> 
                                </tr>
                            </thead>
                            <tbody>
                <!-- ngRepeat: vo in data -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    <script type="text/javascript" src="__PUBLIC__/Static/Jquery/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/script/station/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Static/bootstrap-3.3.0-dist/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/script/station/sidebar.js"></script>
    <script src="__PUBLIC__/script/station/header_public.js"></script>
  </body>
</html>