      <div id="sidebar">
        <ul class="sidebar-menu">
          <li class="treeview">
            <a class="treeview-item" href="#">
              消息中心
              <i class="fa fa-caret-right active-right"></i>
            </a>
            <ul class="treeview-menu none">
              <li><a href="{:U('Station/news_list')}"><i class="fa fa-calendar icon"></i>消息列表</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a class="treeview-item" href="#">
              监控视图
              <i class="fa fa-caret-right active-right"></i>
            </a>
            <ul class="treeview-menu none"style="">
              <li><a href="{:U('Station/power_station_monitor')}"><i class="fa fa-dashboard fa-fw icon"></i>电站监控</a></li>
              <li><a href="{:U('Station/layout_view')}"><i class="fa fa-th-list fa-fw icon"></i>布局视图</a></li>
              <li><a href="{:U('Station/list_view')}"><i class="fa fa-reorder fa-fw icon"></i>列表视图</a></li>
              <li><a href="{:U('Station/trouble_alarm')}"><i class="fa fa-bell fa-fw icon"></i>故障报警</a></li>
              <li><a href="{:U('Station/running_log')}"><i class="fa fa-list-ol fa-fw icon"></i>运行日志</a></li>
              <li><a href="{:U('Station/history_data_query')}"><i class="fa fa-history fa-fw icon"></i>历史数据查询</a></li>
              <li><a href="{:U('Station/power_station_trend')}"><i class="fa fa-area-chart fa-fw icon"></i>电站功率趋势图</a></li>
              <li><a href="{:U('Station/device_power_trend')}"><i class="fa fa-line-chart fa-fw icon"></i>设备功率趋势图</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a class="treeview-item" href="#">
              分析视图
              <i class="fa fa-caret-right active-right"></i>
            </a>
            <ul class="treeview-menu none">
              <li><a href="{:U('AnalysisView/overview')}"><i class="fa fa-th-large fa-fw icon"></i>概览</a></li>
              <li><a href="{:U('AnalysisView/power_generation')}"><i class="fa fa-bar-chart-o fa-fw icon"></i>发电量</a></li>
              <li><a href="#"><i class="fa fa-tint fa-fw icon"></i>气象资讯</a></li>
              <li><a href="{:U('AnalysisView/trouble')}"><i class="fa fa-wrench fa-fw icon"></i>故障统计</a></li>
              <li><a href="{:U('AnalysisView/equipment_performance')}"><i class="fa fa-cog fa-fw icon"></i>设备性能</a></li>
              <li><a href="#"><i class="fa fa-ge fa-fw icon"></i>综合评估</a></li>
              <li><a href="#"><i class="fa fa-sort-numeric-asc fa-fw icon"></i>排名</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a class="treeview-item" href="#">
              管理视图
              <i class="fa fa-caret-right active-right"></i>
            </a>
            <ul class="treeview-menu none">
              <li><a href="#"><i class="fa fa-yen fa-fw icon"></i>电费结算</a></li>
              <li><a href="#"><i class="fa fa-credit-card fa-fw icon"></i>运维支出</a></li>
              <li><a href="#"><i class="fa fa-cogs fa-fw icon"></i>生产计划</a></li>
            </ul>
          </li>
          <li class="treeview">
            <a class="treeview-item" href="#">
              台帐视图
              <i class="fa fa-caret-right active-right"></i>
            </a>
            <ul class="treeview-menu none">
              <li><a href="#"><i class="fa fa-university fa-fw icon"></i>电站台帐</a></li>
              <li><a href="#"><i class="fa fa-anchor  fa-fw icon"></i>运行配置</a></li>
            </ul>
          </li>
        </ul>
      </div>