.lv_title1{
	height: 50px;
	position: relative;
	background-color: #f9fafc;
	border-bottom: 1px solid #ddd;
    margin-bottom: 0;
}

.lv_content1{
	height: 530px;
	width: 100%;
	position: relative;
}

.lv_a1{
	text-decoration: none;
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    color: #363f44;
   
}

.lv_fa{
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
    vertical-align: middle;
}

.nibianqi1{
    width:100%;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    /*text-align: center;*/
}

.imgnibianzhan{
    vertical-align: middle;
    margin-left: 80px;
}
