.listview_chaxun{
	border-top-left-radius: 0;border-bottom-left-radius: 0;
    color: #ffffff;background-color: #1caf9a;border-color: #1caf9a;font-weight: 500;
    border-radius: 2px;outline: 0; float: left;display: inline-block;padding: 6px 12px;    margin-bottom: 0;
    font-size: 14px;    line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;   
    border: 1px solid transparent;
}

.listview_shurukuang{
	display: inline-block;width: 180px;height:34px;float: left;border-right: none;
    padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;   
	background-color: #fff;    border: 1px solid #ccc;
}

.meiyexianshi{
	float: left;
	margin-top: 6px;
	font-size: 14px;
	margin-right: 7px;
	margin-left: 7px;
	color: #98a6ad;
}

.listview_select{
	float:left;
	width: 45px;
	height: 30px;
	padding: 0px;
	border-color: #cfdadd;
	border-radius: 2px;
}

/*.listview_yeshu11{
	font-size: 12px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	display: inline-block;
	color: #98a6ad;
}*/

.list_view_ul{
	background-color: transparent;margin:0;padding:0;float: right;display: inline-block;list-style: none;
}

.listview_shuru2{
	width: 40px;
	height: 28px;
	padding: 0 5px;
	display: inline-block;
	text-align: center;
	float: left;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
}

.list_view_ul li{
	float: left;
	margin-left: 8px;

}

.listview_a{
	/*width: 35px;
	padding: 3px 3px;
	height: 20px;
	font-size: 15px;
	background-color: #1caf9a;
    color: #fff;
       border: 1px solid #ddd;*/

    font-size: 18px;
    background-color: #1caf9a;
    color: #fff;
    border: 1px solid #ddd;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 4px;
    margin-bottom: 0;
}

.lv_content11{
	height: 100%;
	margin-top: 0;
	padding-top: 0;
}

.biaoge{
	padding:0;
	width: 100%;
	float: left;
	position: relative;
	min-height: 1px;
}

.biaoge_title{
	margin-top: 10px;
	width: 100%;
	height:40px;
	position: relative;
	border-bottom: 1px solid 
}

.biaoge2{
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
	height: 400px;
}

