.running_log_select{
	float:left;
	width: 78px;
	height: 38px;
	padding: 0px;
	border-color: #cfdadd;
	border-radius: 2px;
	margin-left: 20px;
}

.running_log_zhi{
	position: absolute;
	background-color: #edf1f2;
    border-color: #cfdadd;
    width: 48px;
    height: 38px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 11px;
    font-size: 16px;
    font-weight: normal;
    color: #555;
    text-align: center;
    border: 1px solid #ccc;
}

.running_log_zhi2{
	background-color: #edf1f2;
    border-color: #cfdadd;
    width: 48px;
    height: 38px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 11px;
    font-size: 16px;
    font-weight: normal;
    color: #555;
    text-align: center;
    border: 1px solid #ccc;

    display: inline-block;
    float: left;
}

.running_log_chaxun{
	position: absolute;
	margin-left: 10px;
	border-top-left-radius: 0;border-bottom-left-radius: 0;
    color: #ffffff;background-color: #1caf9a;border-color: #1caf9a;font-weight: 500;
    border-radius: 2px;outline: 0; float: left;display: inline-block;padding: 7px 12px;    margin-bottom: 0;
    font-size: 14px;    line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;   
    border: 1px solid transparent;
}

.running_log_chaxun2{
	margin-left: 10px;
	border-top-left-radius: 0;border-bottom-left-radius: 0;
    color: #ffffff;background-color: #1caf9a;border-color: #1caf9a;font-weight: 500;
    border-radius: 2px;outline: 0; 
    float: left;
    display: inline-block;
    padding: 7px 12px;    margin-bottom: 0;
    font-size: 14px;    line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;   
    border: 1px solid transparent;
}

.quanbu_div{
	min-width: 800px;
	height: 42px;
	margin-left: 25px;
}

.running_log_li{
	float: left;
	position: relative;
	display: block;
	list-style: none;
	color: #fff;
	padding: 11px 25px;
}