<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ADA光伏电站</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/simple-line-icons-master/css/simple-line-icons.css" >
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/common/sidebar.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/common/menu.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/station/david_power_station_monitor.css">
    <link type="image/x-icon" rel="shortcut icon" href="__PUBLIC__/images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/style/station/jquery.datetimepicker.css">
    
    <style type="text/css">
      .troublealarm_table1c{
        background-color: white;
     }

      .troublealarm_table1c th{
        font-size: 16px;
        background-color: #FAFBFC;
        text-align: center;
        color: #1caf9a;
        padding:10px 15px;
      }

      .troublealarm_table1c td{
        font-size: 14px;
        text-align: center;
        height: 40px;
        color: #666;
      }

      .th1{
        width: 5%;
      }
      .th2{
        width: 10%;
      }
    </style>

    <style type="text/css">
    a:link {
    text-decoration: none;
    }
    a:visited {
    text-decoration: none;
    }
    a:hover {
    text-decoration: none;
    }
    a:active {
    text-decoration: none;
    }
    </style>
  </head>
  <body>
  	
    <!-- 顶部导航条 -->
    <div id="topbar">
       <include file="Common/topbar" />
    </div>
    <!-- 顶部影藏信息-->
     <include file="Common/tophidden" />



    <!-- 左侧菜单栏 -->
    <div id="left">
      <include file='Common/left' />
    </div>

   <!-- 主要内容 -->
    <div id="right" >
    <div class="right_d">
      <!-- 布局视图的标题 -->
      <div class="history_data_query_title1">
            <span style="background:#16da16;border-radius: 50%;width: 10px;height: 10px;display: inline-block;margin-left:10px;"></span>
            <span id="s_name" style="color: #000000;font-size: 20px;margin: 0;line-height:50px;"></span>
            <span style="cursor:pointer;color:#428bca;">[切换]</span>
        
        </div>

        <div class="history_data_query_content11">

            <div class="history_data_query_top_abs">
            <div class="running_log_huiliuxiang_line">
                <div class="running_log2">
                  <select class="running_log_select">
                      <option checked value="huiliuxiang">汇流箱</option>
                      <option value="nibianqi">逆变器</option>
                      <option value="xiangbian">箱变</option>
                      <option value="dianbiao">电表</option>
                      <option value="qixiangzhan">气象站</option>
                  </select>
                  <select class="running_log_select" style="width:210px;">
                      <option checked value="huiliuxiang">请选择设备</option>
                      <option value="nibianqi">WD01A</option>
                      <option value="xiangbian">WD02A</option>
                      <option value="dianbiao">WD03A</option>
                      <option value="qixiangzhan">WD04A</option>
                  </select>
                  <input type="text" name="" id="datetimepicker" class="listview_shuru2" style="width:150px;height:38px;margin-left:15px;">
                  <!-- <span style="float:left;">至</span> -->
                  <!-- <button> qq</button> -->
                  <span class="running_log_zhi">至</span>
                  <input type="text" name="" id="datetimepicker2" class="listview_shuru2" style="width:150px;height:38px;margin-left:0px;">

                  <!-- <button>ahah</button> -->

                  <button type="button" class="running_log_chaxun">查询</button>

                </div>
                <div class="running_log3" style="float:right;display:inline-block;padding-top:18px;padding-right:15px;">
                    <ul class="list_view_ul">
                        <li>
                          <img style="cursor:pointer;" src="__PUBLIC__/images/button_left.png">
                        </li>
                        <li>
                          <input type="text" name="" class="listview_shuru2">
                        </li>
                        <li>
                          <a href="" class="listview_a">跳转</a>
                        </li>
                        <li>
                          <img style="cursor:pointer;" src="__PUBLIC__/images/button_right.png">
                        </li>
                    </ul>
                    <span style="float:right;">
                        <small class="meiyexianshi">每页显示:</small>
                        <select class="listview_select">
                          <option checked value="10">10</option>
                          <option value="20">20</option>
                          <option value="20">30</option>
                          <option value="20">50</option>
                          <option value="20">100</option>
                        </select>
                        <small class="meiyexianshi">页数1/1</small>

                    </span>
                </div>
            </div>
            </div>


            <div class="trouble_alarm_table">
              <table id="troublealarm_table1" class="troublealarm_table1c">
                
              </table>
             
            </div>

          
        </div>

        
          

        </div>

    </div>
    </div>

    <script type="text/javascript">
      function decodeMessage(){
      var tmp="";
      // tmp+="<th class=\"th1\">开始时间</th><th class=\"th1\">结束时间</th><th class=\"th1\">设备名称</th><th class=\"th2\">事件内容</th>"
      // for(j=0;j<=5;j++){
      //   tmp+="<tr>";
        
      //   tmp+= "<td>"+"2017-02-12 10:01:16"+"</td>"+
      //         "<td>"+"2017-02-12 12:01:16"+"</td>"+
      //         "<td style=\"color:#428ED4;\">"+"HJ01B-4-A-01"+"</td>"+
      //         "<td>"+"断流器跳闸"+"</td>";
      
      //   tmp+="<tr>";
      }
     
         document.getElementById("troublealarm_table1").innerHTML=tmp;
     }
    </script>
    <script type="text/javascript" src="__PUBLIC__/Static/Jquery/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/script/station/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Static/bootstrap-3.3.0-dist/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/script/station/sidebar.js"></script>
    <script type="text/javascript" src="__PUBLIC__/script/station/running_log.js"></script>
    <script type="text/javascript" src="__PUBLIC__/script/station/header_public.js"></script>
  </body>
</html>