<include file="Common/station_monitor_header" />
<body onload="getTotalDataNum();getTableData(1,null);">
    <!-- 顶部导航条 -->
    <div id="topbar">
      <include file="Common/topbar" />
    </div>
  <!-- 顶部影藏信息-->
    <include file="Common/tophidden" />
    <!-- 左侧菜单栏 -->
   <div id="left">
      <include file="Common/left" />
    </div>

   <!-- 主要内容 -->
    <div id="right" >
    <div class="right_d">
        <!-- 布局视图的标题 -->
        <div class="listview_title1">
            <span style="background:#16da16;border-radius: 50%;width: 10px;height: 10px;display: inline-block;margin-left:10px;"></span>
            <span id="s_name" style="color: #000000;font-size: 20px;margin: 0;line-height:50px;"></span>
            <span style="cursor:pointer;color:#428bca;">[切换]</span>
            <span style="cursor:pointer;color:#428bca;margin-left:40px;font-size: 16px;">逆变器</span>
            <ul style="margin-right: 50px;float: right;list-style: none;" name="selectDevStatusLegend">
                 <div class="lv_a1" id="zhengchang">
                        <i id="zhengchang1" class="lv_fa fa-circle-o" style="color: rgb(63, 173, 34); display: none;"></i>
                        <i id="zhengchang2" class="lv_fa fa-check-circle-o" style="color: rgb(63, 173, 34); display: inline-block;"></i>
                        正常
                        <input type="hidden" value name="normal_deviceId_jqselect">
                    </div>
                    <div class="lv_a1" id="guzhang">
                        <i id="guzhang1" class="lv_fa fa-circle-o" style="color: #db412f; display: none;"></i>
                        <i id="guzhang2" class="lv_fa fa-check-circle-o" style="color: #db412f; display: inline-block;"></i>
                        故障
                        <input type="hidden" value name="error_deviceId_jqselect">
                    </div>
                    <div class="lv_a1"  id="baojing">
                        <i  id="baojing1" class="lv_fa fa-circle-o" style="color: #f90; display: none;"></i>
                        <i  id="baojing2" class="lv_fa fa-check-circle-o" style="color: #f90; display: inline-block;"></i>
                        报警
                        <input type="hidden" value name="alert_deviceId_jqselect">
                    </div>
                    <div class="lv_a1" id="zhongduan">
                        <i id="zhongduan1" class="lv_fa fa-circle-o" style="color: #999; display: none;"></i>
                        <i id="zhongduan2" class="lv_fa fa-check-circle-o" style="color: #999; display: inline-block;"></i>
                        中断
                        <input type="hidden" value name="break_deviceId_jqselect">
                    </div>
                    <div class="lv_a1" id="yinyingzhedang">
                        <i id="yinyingzhedang1" class="lv_fa fa-circle-o" style="color: #ccc; display: none;"></i>
                        <i id="yinyingzhedang2" class="lv_fa fa-check-circle-o" style="color: #ccc; display: inline-block;"></i>
                        阴影遮挡
                        <input type="hidden" value name="shadow_deviceId_jqselect">
                    </div>
            </ul>
             <ul style="margin-right: 0px; float: right;list-style: none;margin-bottom:0px;" name="selectDevStatusLegend_All">
                    <!--
                    <i style="display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;
                    text-rendering: auto;-webkit-font-smoothing: antialiased;"></i>
                    -->
                     <div class="lv_a1" id="quanxuan">
                        <i id="quanxuan1" class="lv_fa fa-circle-o" style=" display: none;"></i>
                        <i id="quanxuan2" class="lv_fa fa-check-circle-o" style="color: rgb(51,51,51); display: inline-block;"></i>
                        全选
                        <input type="hidden" value name="all_deviceId_jqselect">
                    </div>
                </ul> 
        </div>

        <div class="lv_content11">
            <div class="chaxun">
                <input id="input_listview_query_device" type="text" name="" class="listview_shurukuang" placeholder="请输入设备编号 / 名称">
                <button type="button" class="listview_chaxun" onclick="query_device()">查询</button>
                <!-- <span id="hanyuehui"> &lt;scrit&gt;</span> -->
                <?php 
echo "Hello World!"; 
?> 
                <div style="float:right;">
                    <ul class="list_view_ul">
                        <li>
                          <img onclick="previousPage()" style="cursor:pointer;" src="__PUBLIC__/images/button_left.png">
                        </li>
                        <li>
                          <input id="listview_turnPageNum" type="text" name="" class="listview_shuru2">
                        </li>
                        <li>
                          <span  onclick="turnPage()" class="listview_a">跳转</span>
                        </li>
                        <li>
                          <img onclick="nextPage()" style="cursor:pointer;" src="__PUBLIC__/images/button_right.png">
                        </li>
                    </ul>
                    <span style="float:right;">
                        <small class="meiyexianshi">每页显示:</small>
                        <select class="listview_select" id="listview_select_id" onchange="selectOptionChange()">
                          <option checked value="10">10</option>
                          <option value="20">20</option>
                          <option value="20">30</option>
                          <option value="20">50</option>
                          <option value="20">100</option>
                        </select>
                        <small class="meiyexianshi">页数</small>
                        <small class="meiyexianshi_1" id="listview_currentPage">1</small>
                        <small class="meiyexianshi_1">/</small>
                        <small class="meiyexianshi_1" id="listview_totalPage">1</small>

                    </span>
                </div>
            </div>

            <div class="biaoge">
              <div class="biaoge2">
                <table class="table_c" id="table3-1"></table>  <!-- 在mmgrid.css设置样式，在listview_table.js中设置数据 -->
              </div>
            </div>

        </div>

        
          

        </div>

    </div>
    </div>
    
    <script type="text/javascript" src="__PUBLIC__/Static/Jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/Static/bootstrap-3.3.0-dist/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/script/station/sidebar.js"></script>
    <script src="__PUBLIC__/script/station/header_public.js"></script>
    <script src="__PUBLIC__/script/station/mmGrid.js"></script>
    <script src="__PUBLIC__/script/station/listview_table.js"></script>
  </body>
</html>