<html>
<head>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/station/jquery.datetimepicker.css">
</head>



<body>
	<!-- <input type="text" name="" id="datetimepicker"> -->

<?php 
echo "Hello World2!"; 

$arr = array();
$arr[] = "qwe";
$arr[] = "ss";

$array2 = array();

for($i = 0; $i < 10; $i++) {
	$array2[$i] = $i+1;
}

echo $array2[0];

?> 

<!--  <script type="text/javascript" src="__PUBLIC__/Static/Jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/script/station/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="__PUBLIC__/script/station/running_log.js"></script> -->
</body>


</html>